html, body {
    margin: 0;
    padding: 0;

    font-family: 'Helvetica', sans-serif;
    font-weight: 300;
}

.b-page {
    display: block;

    width: 360px;
    padding: 20px;

    margin: 20px auto 0 auto;

    border-radius: 10px;
}

.b-head {
    clear: both;
}

.b-head__title {
    margin: 0 0 10px 0;

    font-size: 35px;
    font-weight: 300;
}

.b-head__sub-title {
    margin: 0;

    font-size: 24px;
    color: #555;
}

.b-head__photo-container {
    display: inline-block;

    height: 100px;
    margin-right: 20px;

    float: left;
}

.b-head__photo {
    border: none;
    border-radius: 50%;

    background: #eee;

    font-size: 30px;
    line-height: 75px;
    color: #777;
}

.b-head__info {
    display: inline-block;
}

.b-head__location {
    font-size: 13px;
    color: #555;
}

.b-content {
    list-style: none;

    margin-top: 30px;
    padding-left: 0px;
}

.b-content__link-button {
    display: block;

    line-height: 24px;

    text-decoration: none;
    color: #FFFFFF;
    background-color: #555555;
    padding: 15px;
    text-align: center;
    font-size: 24px;
}

.b-content__link-button_facebook {
    background-color: #3B5998;
}

.b-content__link-button_instagram {
    background-color: #8a3ab9;
}

.b-content__link-button_twitter {
    background-color: #1dcaff;
}

.b-content__link_no-icon {
    margin-left: 38px;
}

.b-content__item {
    margin-bottom: 10px;
}

.b-content__item svg {
    margin-right: 10px;

    vertical-align: bottom;
}
