html, body {
    margin: 0;
    padding: 0;

    font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
    font-weight: 300;
}

:root {
    --text: #000;
    --bg: #fff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #fff;
        --bg: #000;
    }
}

body {
    background-color: var(--bg);
    color: var(--text);
}

.b-page {
    display: block;

    width: 360px;
    padding: 20px;

    margin: 20px auto 0 auto;

    border-radius: 10px;
}

.b-head {
    clear: both;
}

.b-head__title {
    margin: 0 0 10px 0;

    font-size: 38px;
    font-weight: 300;
}

.b-head__sub-title {
    margin: 0;

    font-size: 24px;
    opacity: 0.5;
}

.b-head__photo-container {
    display: inline-block;

    height: 100px;
    margin-right: 20px;

    float: left;
}

.b-head__photo {
    border: none;
    border-radius: 50%;

    background: #eee;

    font-size: 30px;
    line-height: 75px;
    color: #777;
}

.b-head__info {
    display: inline-block;
}

.b-head__location {
    font-size: 13px;
    color: #555;
}

.b-content {
    list-style: none;

    margin-top: 30px;
    padding-left: 0;
}

.b-content__link-button {
    display: block;
    line-height: 24px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #555555;
    padding: 15px 0 15px 0;
    text-align: center;
    font-size: 24px;
}

.b-content__link-button_facebook {
    background-color: #3B5998;
}

.b-content__link-button_mastodon {
    background-color: #6364f6;
}

.b-content__link-button_bluesky {
    background-color: #3c81f6;
}

.b-content__link-button_instagram {
    background-color: #8a3ab9;
}

.b-content__link-button_tiktok {
    background-color: #222;
}

.b-content__link-button_threads {
    background-color: #222;
}

.b-content__link-button_ngl {
    background: linear-gradient(#ef2675, #fc7e1f);
}

.b-content__link-button_twitter {
    background-color: #1dcaff;
}

.b-content__link-button_ko-fi {
    background-color: #ff5f5f;
}

.b-content__link-button_kit {
    background-color: #10c694;
}

.b-content__link-button_prints {
    background-color: #ff0967;
}

.b-content__link_no-icon {
    margin-left: 38px;
}

.b-content__item {
    margin-bottom: 10px;
}

.b-content__item svg {
    vertical-align: bottom;
}
